*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}
.sub-header {
    background-color: #1f272b;
    position: relative;
    z-index: 11;
}
@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1320px;
    }
}
 .left-content p a{
    padding: 15px;
}
.left-content p a .fa-envelope  {
    padding: 6px;
}
.left-content p a .fa-phone  {
    padding: 6px;
}
.sub-header .left-content p {
    color: #fff;
    padding: 8px 0px;
    font-size: 13px;
}
.left-content a{
    text-decoration: none;
    color: #fff;

}
.sub-header .right-icons {
    text-align: right;
    padding: 8px 0px;
}
.sub-header .right-icons ul li a {
    color: #fff;
    font-size: 14px;
    transition: all .3s;
}
.sub-header .right-icons ul li a {
    color: #fff;
    font-size: 14px;
    transition: all .3s;
}
 
.sub-header .right-icons ul li {
    display: inline-block;
    margin-left: 15px;
}
/* main-banner */
.main-banner{
    position: relative;
}
.main-banner .slider-container .slider{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 9%;
    padding-bottom: 70px;
}
.main-banner .slider-container .slider .content{
    flex :1 1 350px;
    animation: slideContent .4s linear .6s backwards;
}
@keyframes slideContent {
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    
}
.main-banner .slider-container .slider .image{
    flex :1 1 500px;
}
.main-banner .slider-container .slider .image img{
    animation: slideImage .4s  ;
}
@keyframes slideImage {
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    
}
.main-banner .slider-container .slider .content h3{
    font-size: 35px;
    color: #333;
}
.main-banner .slider-container .slider .content p{
    font-size: 16px;
    color: #666;
    padding: 20px 0;
}
.main-banner .slider-container .slider .content .btn{
   margin-top: 10px;
   display: inline-block;
   background: #666;
   color: #fff;
   font-size: 17px;
   padding: 9px;
}
.main-banner .slider-container .slider .content .btn{
    background: #333;
}
.main-banner .slider-container{
    display: none;
}
.main-banner   .active{
    display: block;

}
.main-banner #prev,
.main-banner #next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #333;
   
    height: 50px;
    width: 40px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}
.main-banner #prev,
.main-banner #next{
    background: rgb(255, 255, 255);
}
.main-banner #prev{
    left: 20px;
}
.main-banner #next{
    right: 20px;

}
@media (max-width:500px) {
    .main-banner #prev{
        left: 0px;
        right: 60px;
    }
    .main-banner #next{
        left: 0px;
        right: 60px;
    
    }
    
}


   
